env
*.csv
train
validation
sample
spectrograms-ravdess
spectrograms-berlin
spectrograms-torento
prep-spectrograms-berlin
prep-spectrograms-ravdess
ravdess-emotional-speech-audio
*.zip
*.pdf
*.json
*.hdf5
.DS_Store
.vscode
*.h5